
//COLOR VARIABLES
$color-test: orangered;

$color-white: #fff;
$color-black: #000;
$color-primary: #f88379;
$color-primary-dark: #f55649;
$gradient-primary: linear-gradient(to bottom, $color-primary 50%, $color-primary-dark 100%);


//GRID VARIABLES
$margin-vertical: 1rem;
$margin-horizontal: 5rem;